# DATA CLEANING OF THE MOBILE PHONE RAW DATASET

In [60]:
#To import the modules
import pandas as pd
import numpy as np

In [61]:
#To access the dataset and decode it
phone_data=pd.read_csv('Mobile_Phones_in_Jumia_NIG.csv', encoding = 'Latin-1')

In [62]:
#To view the content of the dataset under each headings
phone_data.head()

,Title,Title_URL,Image,Tag,prc,prc_main,percent_reduction,ratings,number of reviewer,shipping
0,Samsung Galaxy A12,https://www.jumia.com.ng/samsung-galaxy-a12-6....,https://ng.jumia.is/unsafe/fit-in/300x300/filt...,Official Store,"? 79,990","? 83,898\n",\n5%,4.4,(514),Jumia Express items in your order will be deli...
1,UMIDIGI A9 Pro Inf,https://www.jumia.com.ng/umidigi-a9-pro-infrar...,https://ng.jumia.is/unsafe/fit-in/300x300/filt...,Official Store,"? 54,455","? 109,347",0.5,4.3,(515),Jumia Express items in your order will be deli...
2,"Itel A33 Plus 5.0""",https://www.jumia.com.ng/itel-a33-plus-5.0-scr...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,"? 27,130","? 34,000\n",20%,3.9,\n(75),Jumia Express items in your order will be deli...
3,Blackview FS-Andro,https://www.jumia.com.ng/blackview-fs-android-...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 34,445","? 56,453\n",39%,3.7,(168),Jumia Express items in your order will be deli...
4,UMIDIGI A11 Pro Ma,https://www.jumia.com.ng/umidigi-a11-pro-max-8...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 91,775","? 170,951",46%,4.5,(105),Jumia Express items in your order will be deli...

In [63]:
#To determine the number of null values in the dataset
phone_data.isnull().sum()

Title                    0
Title_URL                0
Image                    0
Tag                   3353
prc                      0
prc_main               712
percent_reduction      712
ratings               1586
number of reviewer    1586
shipping              2969
dtype: int64

In [64]:
#The forward fill (ffill) method was used to replace the null values
phone_dt=phone_data.fillna(method='ffill')

In [65]:
#To check the result of the fill option on the dataset
phone_dt.isnull().sum()

Title                 0
Title_URL             0
Image                 0
Tag                   0
prc                   0
prc_main              0
percent_reduction     0
ratings               0
number of reviewer    0
shipping              0
dtype: int64

In [66]:
#To view the dataset
phone_dt

,Title,Title_URL,Image,Tag,prc,prc_main,percent_reduction,ratings,number of reviewer,shipping
0,Samsung Galaxy A12,https://www.jumia.com.ng/samsung-galaxy-a12-6....,https://ng.jumia.is/unsafe/fit-in/300x300/filt...,Official Store,"? 79,990","? 83,898\n",\n5%,4.4,(514),Jumia Express items in your order will be deli...
1,UMIDIGI A9 Pro Inf,https://www.jumia.com.ng/umidigi-a9-pro-infrar...,https://ng.jumia.is/unsafe/fit-in/300x300/filt...,Official Store,"? 54,455","? 109,347",0.5,4.3,(515),Jumia Express items in your order will be deli...
2,"Itel A33 Plus 5.0""",https://www.jumia.com.ng/itel-a33-plus-5.0-scr...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 27,130","? 34,000\n",20%,3.9,\n(75),Jumia Express items in your order will be deli...
3,Blackview FS-Andro,https://www.jumia.com.ng/blackview-fs-android-...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 34,445","? 56,453\n",39%,3.7,(168),Jumia Express items in your order will be deli...
4,UMIDIGI A11 Pro Ma,https://www.jumia.com.ng/umidigi-a11-pro-max-8...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 91,775","? 170,951",46%,4.5,(105),Jumia Express items in your order will be deli...
...,...,...,...,...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,https://www.jumia.com.ng/nokia-6700s-gsm-slide...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 11,300","? 21,800\n",48%,5 o,5\n(1),Jumia Express items in your order will be deli...
3629,Nokia Asha 210 Blu,https://www.jumia.com.ng/nokia-asha-210-blueto...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 14,800","? 19,700\n",25%,5 o,5\n(1),Jumia Express items in your order will be deli...
3630,Samsung Galaxy S8,https://www.jumia.com.ng/samsung-galaxy-s8-oct...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 114,000","? 205,200",44%,5 o,5\n(1),Jumia Express items in your order will be deli...
3631,Apple Iphone 7 Plu,https://www.jumia.com.ng/iphone-7-plus-128gb-g...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 175,000","? 205,200",44%,5 o,5\n(1),Jumia Express items in your order will be deli...
3632,Tecno POP 5 (BD2P),https://www.jumia.com.ng/tecno-pop-5-bd2p-6.1-...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Official Store,"? 46,800","? 50,000\n",\n6%,5 o,5\n(1),Jumia Express items in your order will be deli...

In [67]:
#To drop some columns not needed for the data analysis
phone_dt=phone_dt.drop(['Title_URL','Image','Tag','shipping'],axis=1)

In [68]:
#To view the dataset after the removal of some columns
phone_dt

,Title,prc,prc_main,percent_reduction,ratings,number of reviewer
0,Samsung Galaxy A12,"? 79,990","? 83,898\n",\n5%,4.4,(514)
1,UMIDIGI A9 Pro Inf,"? 54,455","? 109,347",0.5,4.3,(515)
2,"Itel A33 Plus 5.0""","? 27,130","? 34,000\n",20%,3.9,\n(75)
3,Blackview FS-Andro,"? 34,445","? 56,453\n",39%,3.7,(168)
4,UMIDIGI A11 Pro Ma,"? 91,775","? 170,951",46%,4.5,(105)
...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,"? 11,300","? 21,800\n",48%,5 o,5\n(1)
3629,Nokia Asha 210 Blu,"? 14,800","? 19,700\n",25%,5 o,5\n(1)
3630,Samsung Galaxy S8,"? 114,000","? 205,200",44%,5 o,5\n(1)
3631,Apple Iphone 7 Plu,"? 175,000","? 205,200",44%,5 o,5\n(1)
3632,Tecno POP 5 (BD2P),"? 46,800","? 50,000\n",\n6%,5 o,5\n(1)

In [69]:
#TO EXTRACT SOME VALUES FROM THE STRING COLUMNS 
import re as re
def find_number (text):
    num=re.findall(r'[0-9]+',text)
    return "".join(num)
phone_dt['price']=phone_dt['prc'].apply(lambda x: find_number(x))
phone_dt['Main_Price']=phone_dt['prc_main'].apply(lambda x: find_number(x))

In [70]:
#To view the dataset after the EXTRACTION OF VALUES
phone_dt

,Title,prc,prc_main,percent_reduction,ratings,number of reviewer,price,Main_Price
0,Samsung Galaxy A12,"? 79,990","? 83,898\n",\n5%,4.4,(514),79990,83898
1,UMIDIGI A9 Pro Inf,"? 54,455","? 109,347",0.5,4.3,(515),54455,109347
2,"Itel A33 Plus 5.0""","? 27,130","? 34,000\n",20%,3.9,\n(75),27130,34000
3,Blackview FS-Andro,"? 34,445","? 56,453\n",39%,3.7,(168),34445,56453
4,UMIDIGI A11 Pro Ma,"? 91,775","? 170,951",46%,4.5,(105),91775,170951
...,...,...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,"? 11,300","? 21,800\n",48%,5 o,5\n(1),11300,21800
3629,Nokia Asha 210 Blu,"? 14,800","? 19,700\n",25%,5 o,5\n(1),14800,19700
3630,Samsung Galaxy S8,"? 114,000","? 205,200",44%,5 o,5\n(1),114000,205200
3631,Apple Iphone 7 Plu,"? 175,000","? 205,200",44%,5 o,5\n(1),175000,205200
3632,Tecno POP 5 (BD2P),"? 46,800","? 50,000\n",\n6%,5 o,5\n(1),46800,50000

In [71]:
#TO EXTRACT SOME VALUES WITH DECIMAL FROM THE STRING COLUMNS 
phone_dt['Ratings']=phone_dt['ratings'].str.extract('([0-9][,.]*[0-9]*)')
phone_dt['Percent_Price_Reduction_in_%']=phone_dt['percent_reduction'].str.extract('([0-9][,.]*[0-9]*)')
phone_dt['Number_of_Reviewer']=phone_dt['number of reviewer'].str.extract('([0-9][,.]*[0-9]*)')

In [72]:
#To view the dataset after the EXTRACTION OF VALUES WITH DECIMAL
phone_dt

,Title,prc,prc_main,percent_reduction,ratings,number of reviewer,price,Main_Price,Ratings,Percent_Price_Reduction_in_%,Number_of_Reviewer
0,Samsung Galaxy A12,"? 79,990","? 83,898\n",\n5%,4.4,(514),79990,83898,4.4,5,514
1,UMIDIGI A9 Pro Inf,"? 54,455","? 109,347",0.5,4.3,(515),54455,109347,4.3,0.5,515
2,"Itel A33 Plus 5.0""","? 27,130","? 34,000\n",20%,3.9,\n(75),27130,34000,3.9,20,75
3,Blackview FS-Andro,"? 34,445","? 56,453\n",39%,3.7,(168),34445,56453,3.7,39,168
4,UMIDIGI A11 Pro Ma,"? 91,775","? 170,951",46%,4.5,(105),91775,170951,4.5,46,105
...,...,...,...,...,...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,"? 11,300","? 21,800\n",48%,5 o,5\n(1),11300,21800,5,48,5
3629,Nokia Asha 210 Blu,"? 14,800","? 19,700\n",25%,5 o,5\n(1),14800,19700,5,25,5
3630,Samsung Galaxy S8,"? 114,000","? 205,200",44%,5 o,5\n(1),114000,205200,5,44,5
3631,Apple Iphone 7 Plu,"? 175,000","? 205,200",44%,5 o,5\n(1),175000,205200,5,44,5
3632,Tecno POP 5 (BD2P),"? 46,800","? 50,000\n",\n6%,5 o,5\n(1),46800,50000,5,6,5

In [75]:
#TO EXTRACT THE FIRST WORD FROM THE STRINGS IN THE 'TITLE' COLUMNS AS BRAND
phone_dt['Brands']=phone_dt['Title']
phone_dt['Brands']=phone_dt.Title.str.split().str.get(0)

In [76]:
#To view the dataset after the update of additional column i.e. BRANDS
phone_dt

,Title,prc,prc_main,percent_reduction,ratings,number of reviewer,price,Main_Price,Ratings,Percent_Price_Reduction_in_%,Number_of_Reviewer,Brands
0,Samsung Galaxy A12,"? 79,990","? 83,898\n",\n5%,4.4,(514),79990,83898,4.4,5,514,Samsung
1,UMIDIGI A9 Pro Inf,"? 54,455","? 109,347",0.5,4.3,(515),54455,109347,4.3,0.5,515,UMIDIGI
2,"Itel A33 Plus 5.0""","? 27,130","? 34,000\n",20%,3.9,\n(75),27130,34000,3.9,20,75,Itel
3,Blackview FS-Andro,"? 34,445","? 56,453\n",39%,3.7,(168),34445,56453,3.7,39,168,Blackview
4,UMIDIGI A11 Pro Ma,"? 91,775","? 170,951",46%,4.5,(105),91775,170951,4.5,46,105,UMIDIGI
...,...,...,...,...,...,...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,"? 11,300","? 21,800\n",48%,5 o,5\n(1),11300,21800,5,48,5,Nokia
3629,Nokia Asha 210 Blu,"? 14,800","? 19,700\n",25%,5 o,5\n(1),14800,19700,5,25,5,Nokia
3630,Samsung Galaxy S8,"? 114,000","? 205,200",44%,5 o,5\n(1),114000,205200,5,44,5,Samsung
3631,Apple Iphone 7 Plu,"? 175,000","? 205,200",44%,5 o,5\n(1),175000,205200,5,44,5,Apple
3632,Tecno POP 5 (BD2P),"? 46,800","? 50,000\n",\n6%,5 o,5\n(1),46800,50000,5,6,5,Tecno

In [77]:
#To drop some columns not needed for the data analysis AFTER THE CLEANING OF THE DATASET
phone_dt=phone_dt.drop(['prc','prc_main','percent_reduction','ratings','number of reviewer'],axis=1)

In [78]:
#To view the dataset after the dropping columns AFTER CLEANING
phone_dt

,Title,price,Main_Price,Ratings,Percent_Price_Reduction_in_%,Number_of_Reviewer,Brands
0,Samsung Galaxy A12,79990,83898,4.4,5,514,Samsung
1,UMIDIGI A9 Pro Inf,54455,109347,4.3,0.5,515,UMIDIGI
2,"Itel A33 Plus 5.0""",27130,34000,3.9,20,75,Itel
3,Blackview FS-Andro,34445,56453,3.7,39,168,Blackview
4,UMIDIGI A11 Pro Ma,91775,170951,4.5,46,105,UMIDIGI
...,...,...,...,...,...,...,...
3628,Nokia 6700S GSM Sl,11300,21800,5,48,5,Nokia
3629,Nokia Asha 210 Blu,14800,19700,5,25,5,Nokia
3630,Samsung Galaxy S8,114000,205200,5,44,5,Samsung
3631,Apple Iphone 7 Plu,175000,205200,5,44,5,Apple
3632,Tecno POP 5 (BD2P),46800,50000,5,6,5,Tecno

In [79]:
mobile_phone=phone_dt[['Brands','Title','price','Main_Price','Percent_Price_Reduction_in_%','Ratings','Number_of_Reviewer']]

In [80]:
mobile_phone

,Brands,Title,price,Main_Price,Percent_Price_Reduction_in_%,Ratings,Number_of_Reviewer
0,Samsung,Samsung Galaxy A12,79990,83898,5,4.4,514
1,UMIDIGI,UMIDIGI A9 Pro Inf,54455,109347,0.5,4.3,515
2,Itel,"Itel A33 Plus 5.0""",27130,34000,20,3.9,75
3,Blackview,Blackview FS-Andro,34445,56453,39,3.7,168
4,UMIDIGI,UMIDIGI A11 Pro Ma,91775,170951,46,4.5,105
...,...,...,...,...,...,...,...
3628,Nokia,Nokia 6700S GSM Sl,11300,21800,48,5,5
3629,Nokia,Nokia Asha 210 Blu,14800,19700,25,5,5
3630,Samsung,Samsung Galaxy S8,114000,205200,44,5,5
3631,Apple,Apple Iphone 7 Plu,175000,205200,44,5,5
3632,Tecno,Tecno POP 5 (BD2P),46800,50000,6,5,5

In [84]:
mobile_phone.to_csv('Cleaned_Mobile_Phone_Dataset.csv')